:root{
  --primary-color: #010326;
  --secundary-color: #021859;
  --tertiary-color:#193773;
  --quaternary-color:#4E64A6;
  --quinary-color:#D9D9D9;
}
.body-dark{
  background-color: var(--primary-color);
  color: #D9D9D9;
}
.body-light{
  background-color: var(--quinary-color);
  color: black
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.my-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-form input{
  width: 280px;
  height: 30px;
  border-radius: 8px;
  color: var(--tertiary-color);
  padding-left: 10px;
}
.my-form #title{
  margin: 20px;
  font-size: 1.4rem;
}
.my-form button{
  margin-top: 20px;
  font-size: 1.4rem;
}
.formDiv{
  text-align: center;
  background-color: var(--tertiary-color);
  width: 45%;
  border-radius: 12px;
  height: 500px;
  
}
input[type="file"] {
  display: none;
}

.conteudo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imageLabel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 200px;
  border: 2px solid var(--quinary-color);
  border-radius: 4px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; 
}
.form-button{
  color: var(--quinary-color);
  background-color: var(--secundary-color);
  border: var(--quaternary-color) solid 1px;
  border-radius: 8px;
}